/* CSS3 / Browser specific CSS 

#search-top input.field,
.search-widget input.field, 
#breadcrumb, 
#container { -moz-border-radius: 6px; -webkit-border-radius: 6px; border-radius:6px; }

#breadcrumb .home {
	-moz-border-radius-topleft: 6px; -moz-border-radius-bottomleft: 6px; 
	-webkit-border-top-left-radius: 6px; -webkit-border-bottom-left-radius: 6px;
}

#navigation {
	-moz-border-radius-topleft: 6px; -moz-border-radius-topright: 6px; 
	-webkit-border-top-left-radius: 6px; -webkit-border-top-right-radius: 6px;
}

#footer-widgets {
	-moz-border-radius-bottomleft: 6px; -moz-border-radius-bottomright: 6px; 
	-webkit-border-bottom-left-radius: 6px; -webkit-border-bottom-right-radius: 6px;
}

#container { -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.1); -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.05); }

.nav a  { text-shadow:0 1px 0 #fff; }

#tabs,
input, textarea, select { border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;}

#tabs ul.wooTabs li a.selected, #tabs ul.wooTabs li a:hover { border-top-right-radius:3px; border-top-left-radius:3px; -moz-border-radius-topright:3px;	-moz-border-radius-topleft:3px;-webkit-border-top-right-radius: 3px; -webkit-border-top-left-radius:3px; }
*/